
.title {
    width: 800px;
    height: 150px;
    margin: 0 auto; /*區塊置中*/
    text-align: center;
}

form {
    width: 800px;
    height: 40px;
    margin: 0 auto; /*區塊置中*/
    text-align: center;
}

table {
    margin: 0 auto; /*區塊置中*/
}

.table1 {
    margin: 0 auto;
    width: 800px;
    height: 100px;
    text-align: left;
}

.table2 {
    margin: 0 auto;
    width: 800px;
    height: 250px;
    text-align: left;
}

.table3 {
    margin: 0 auto;
    width: 800px;
    height: 250px;
    text-align: left;
}
.myfavorite {
    margin: 0 auto;
    width: 800px;
    height: 250px;
    text-align: center;
}
